<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="ca_description">Alphabetical</option>
          <option value="in_stock">Quantity in Stock (lo to hi)</option>
        </select>
      </p>

    </div>

    <div class="col-md-10">
      <!--Body content-->
	<ul class="items">

		<li ng-repeat="item in $ctrl.items | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail item-list-item">
          <a href="#!/items/{{item.ca_item_ref}}" class="thumb">
            <img ng-src="img/items/{{item.ca_item_ref}}.jpg" alt="{{item.ca_item_ref}}" />
          </a>
          <a href="#!/items/{{item.ca_item_ref}}">{{item.ca_description}}</a>
			<p>Cost        : {{item.ca_cost}}<br>
			Qty in stock: {{item.in_stock}}<br>
		</li>
	</ul>

    </div>
  </div>
</div>
